nav{
    display:flex;
    flex-direction: column;
}

svg {
    fill: black;
   
  }
  body{
      background:#17202A;
  }

  .side-menu{
    font-size:14px;
    color:white;
    padding:0;

    margin-left:150px;

  }
    a{
        color:white;
    

  }

  .btn{
      height: 50px;
      width: 210px;
      border-radius: 100px;
      background: #4BA0EC;
  }