nav{
    display:flex;
    flex-direction: column;
}

svg {
    fill: black;
   
  }
  body{
      background:#17202A;
  }

  .side-menu{
    font-size:14px;
    color:white;
    padding:0;

    margin-left:150px;

  }
    a{
        color:white;
        text-decoration: none;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
    

  }
   .icon{
       padding:25px;
   }

   .twitter-logo{
       margin-left:175px;
   }

  .btn{
      height: 50px;
      width: 210px;
      border-radius: 100px;
      background: #4BA0EC;
  }